 <%# <%= render: "form", dwarf: @dwarf %>

<div class="form">
  <%= simple_form_for(@dwarf) do |f| %>
    <%= f.input :name %>
    <%= f.input :sexe %>
    <%= f.input :origin %>
    <%= f.input :age %>
    <%= f.input :size %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :city %>
    <%= f.input :photo, as: :file %>
    <%= f.association :jobs, as: :check_boxes, collection: Job.all %>
    <%= f.submit %>
  <% end %>
</div>
