

<%# <%= dwarf.name %>
<%# <%= link_to "show", dwarf_path(dwarf) %>
 <%# <%= link_to "edit",  edit_dwarf_path(dwarf) %>

 <div class="banner-dwarves">
    <h1> Dwarves </h1>
    <h3>Take a look at the dwarves available</h3>
    <div class="link-button-index">
      <%= link_to "Add a dwarf", new_dwarf_path if policy(Dwarf).new?%>
    </div>
</div>
<div class="search-bar">
  <%= form_tag dwarves_path, method: :get do %>
    <div class="search">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a dwarf"
      %>
       <%= submit_tag "Search", class: "btn" %>
     </div>
  <% end %>
</div>
<br>
<div class="teuks">
        <div class="cards-dwarves">
          <% @dwarves.each do |dwarf| %>
            <div class="card-trip">
             <%= cl_image_tag dwarf.photo.key, crop: :fill %>
              <div class="card-trip-infos">
                <div class="link-dwarf-dwarf">
                  <h2><%= link_to dwarf.name, dwarf_path(dwarf), class: "name-index" %></h2>
                  <p><%= dwarf.description %></p>
                </div>
                <h2 class="card-trip-pricing name-index">€<%= dwarf.price %>/h</h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>
              <div class="card-trip-boutax">
                <%= link_to "✎",  edit_dwarf_path(dwarf) if policy(dwarf).edit?%>
                <%= link_to "🗑", dwarf_path(dwarf), method: :delete, data: { confirm: "Are you sure?" } if policy(dwarf).destroy? %>
              </div>
            </div>
          <% end %>
        </div>
</div>

<div class="teuks">
  <div class="teucar" style="width: 100%; height: 500px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



<div class="button-bottom-link">
  <%= link_to "Add a dwarf", new_dwarf_path if policy(Dwarf).new?%>
</div>
