

<%# <%= dwarf.name %>
<%# <%= link_to "show", dwarf_path(dwarf) %>
 <%# <%= link_to "edit",  edit_dwarf_path(dwarf) %>


<div class="container">
  <h1> Our dwarves </h1>
        <div class="cards-dwarves">
          <% @dwarves.each do |dwarf| %>
            <div class="card-trip">
            <%= cl_image_tag dwarf.photo.key, crop: :fill %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= link_to dwarf.name, dwarf_path(dwarf) %></h2>
                  <p><%= dwarf.description %></p>
                </div>
                <h2 class="card-trip-pricing">€<%= dwarf.price %>/h</h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
              </div>
              <div class="card-trip-button">
                <%= link_to "✎",  edit_dwarf_path(dwarf) if policy(dwarf).edit?%>
                <%= link_to "🗑", dwarf_path(dwarf), method: :delete, data: { confirm: "Are you sure?" } if policy(dwarf).destroy? %>
              </div>
            </div>
          <% end %>
        </div>
</div>

<%= link_to "Add a dwarf", new_dwarf_path if policy(Dwarf).new?%>
