<%# <%= render: "form", dwarf: @dwarf %>
<div class="container">
  <%= simple_form_for(@dwarf) do |f| %>
    <%= f.input :name %>
    <%= f.input :sexe %>
    <%= f.input :origin %>
    <%= f.input :age %>
    <%= f.input :size %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :city %>
     <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
