<div class="card-dwarf">
  <div class="un-dwarf">
    <div class="img-dwarf">
     <%= cl_image_tag @dwarf.photo.key, class: "card-dwarf-img" %>
    </div>
    <div class="card-dwarf-infos p-4">
      <h3 class="pb-4"> <%= @dwarf.name %> </h3>
      <ul class="list-unstyled d-flex justify-content-between border-top border-bottom pb-4 pt-4">
        <li class="border-left"><p> Sexe : <%= @dwarf.sexe%></p></li>
        <li class="border-left"><p>Origin : <%= @dwarf.origin %></p></li>
        <li class="pl-2"><p>Age :<%= @dwarf.age %></p></li>
        <li class="pl-2"><p>Size :<%= @dwarf.size %> cm</p></li>
        <li class="pl-2"><p>Address :<%= @dwarf.address %></p></li>
      </ul>
    </div>
    <div class="card-dwarf-infos pb-4">
      <p><%= @dwarf.description %></p>
      <div class="categories">
        <div class="d-flex">
          <% @dwarf.jobs.each do |job| %>
                        <div class="categorie"><p><%= job.name %></p></div>
                        <% end %>
        </div>
      </div>
    </div>
    <div class="card-dwarf-infos">
      <div class="d-flex justify-content-between border-top pb-4 pt-4">
        <div>
          <p>Contact now <strong><%= @dwarf.user.username %></strong>, to book this dwarf !</p>
        </div>
          <p id="price"><%= @dwarf.price %>0€</p>
      </div>
    </div>
  </div>
</div>


  <div class="review-book-cards">
    <div class="card-dwarf-dafuck">
        <% @dwarf.reviews.each do |review| %>
            <div class="review-dwarf">
              <div class="review-card">
                <h5><% review.rating %> <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></h5>
                <p><%=  review.content %> </p>
              </div>
              <div class="delete-review">
                <% if policy(review).destroy? %>
                  <%= link_to "🗑",
                          review_path(review),
                          method: :delete,
                          class: "delete-buttons",
                          data: { confirm: "Are you sure?" } %>
                <% end %>
              </div>
            </div>
        <% end %>
            <div class="review-button">
              <%= link_to "Add a review", new_dwarf_review_path(@dwarf), class: "btn btn-primary"%>
            </div>
      </div>

    <div class="card-dwarf-dafuck">
      <div class="reservation-dwarf">
          <% @dwarf.reservations.each do |reservation| %>
            <div class="reservation-card">
                <div class="resrvation-dates">
                    <p><%=  reservation.start_time %></p>
                    <p><%= reservation.end_time %></p>
                </div>
                  <div class="reservation-buttons">
                    <% if current_user == @dwarf.user && reservation.validation == false%>
                      <%= link_to "accept", reservation_validations_path(reservation), class: "delete-buttons accept-button", method: :post %>
                    <% end %>
                    <% if policy(reservation).destroy? %>
                      <%= link_to "🗑",
                              reservation_path(reservation),
                              method: :delete,
                              class: "delete-buttons",
                              data: { confirm: "Are you sure?" } %>
                              <% end %>
                  </div>
            </div>
          <% end %>
        <%= link_to "Book now!", new_dwarf_reservation_path(@dwarf), class: "btn btn-primary" %>
      </div>
    </div>
  </div>



<%= link_to "back to index", dwarves_path, class: "btn btn-secondary btn-dwarf mt-5 mb-5"%>



<%# height: 300, width: 400, crop: :fill %>
